.nav{
    width: 100%;
    position: fixed;
    top: 0;
    height: 30px;
    padding: 20px;
  
    display: flex;
    justify-content: space-between;
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all 0.5s;
   
}
.nav_black{
    background-color: #111;
}
.navbar_logo{
    position: fixed;
    left: 20px;
    width: 100px;
    object-fit: contain;
}
.navbar_avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}
